# Statistics
## Type of Statistics
- Descriptive Statistics -> mean med mode std variance 
- Inferential Statistics -> study of samples conclude something about population
## มาตรวัดข้อมูล
- Nominal Scale ชาย =1 หญิง =2
- Ordinal Scale ความชอบในตัวสินค้า 1 = ไม่ชอบ | 2 = เฉยๆ | 3 = ชอบสินค้า
- Interval scale อันดับคะแนความนิยม 1-5, ระดับรายได้ 1 =5000-15000,2 = 15001-30000,...
- Ratio Scale ข้อมูลที่มีตัวเลข 0 ที่แท้จริง
## ค่ากลางของข้อมูล
- mean
- mode
- median
- std
- quartile
- decile
- percentile
## Frequency Distribution
## Histogram

In [6]:
import pandas as pd
import random
import numpy as np

datas = [i for i in np.random.rand(10)*10]
datas
ds = pd.Series(datas)
ds

0    1.628049
1    8.269538
2    0.254502
3    9.015966
4    5.312890
5    5.799146
6    4.053066
7    6.851064
8    4.970417
9    4.208124
dtype: float64

In [7]:
ds.mean()

5.036276209228491

In [9]:
ds.min()

0.2545021008754633

In [11]:
ds.max()

9.015966151263683

In [12]:
ds.std()

2.715840561084919

In [42]:
datas = {'Name': ['Kobkiat','Nan','John','Tim','Jang','Mark','Daeng','Chompoo'],
         'Age': np.random.randint(20,40,8),
         'Gender': np.random.choice(['M','F'],8)}
df = pd.DataFrame(datas)
df

      Name  Age Gender
0  Kobkiat   36      F
1      Nan   21      F
2     John   38      F
3      Tim   22      M
4     Jang   28      F
5     Mark   28      M
6    Daeng   32      M
7  Chompoo   21      F

In [47]:
df['Sex'] = df['Gender'].apply(lambda x: 1 if x=='M' else 2 )
df['Sales'] = df['Name'].apply(lambda x: np.random.randint(20000,50000))
df['Tpye'] = pd.cut(df['Sales'],bins =[20000,35000,50000],labels = ['Junior','Senior'])
df['JS'] = df['Tpye'].apply(lambda x: 'j' if x.startswith('J') else 'S')
df

      Name  Age Gender  Sex  Sales    Tpye JS
0  Kobkiat   36      F    2  33906  Junior  j
1      Nan   21      F    2  26617  Junior  j
2     John   38      F    2  24267  Junior  j
3      Tim   22      M    1  36287  Senior  S
4     Jang   28      F    2  25385  Junior  j
5     Mark   28      M    1  36296  Senior  S
6    Daeng   32      M    1  30998  Junior  j
7  Chompoo   21      F    2  46267  Senior  S

In [48]:
df['Sales'].mean()

32502.875

In [49]:
df['Age'].mode()

0    21
1    28
dtype: int32

# Quartile

In [53]:
datas = np.random.randint(0,10,20)
ds = pd.Series(datas)

In [56]:
ds.quantile([0.25,0.5,0.75])

0.25    3.00
0.50    5.00
0.75    7.25
dtype: float64

In [95]:
ds = pd.Series(np.random.choice(['M','S'],200,p =[0.2,0.8]))

In [96]:
ds.value_counts()

S    161
M     39
dtype: int64

Docstring:
choice(a, size=None, replace=True, p=None)

Generates a random sample from a given 1-D array

        .. versionadded:: 1.7.0

.. note::
    New code should use the ``choice`` method of a ``default_rng()``
    instance instead; see `random-quick-start`.

Parameters
----------
a : 1-D array-like or int
    If an ndarray, a random sample is generated from its elements.
    If an int, the random sample is generated as if a were np.arange(a)
size : int or tuple of ints, optional
    Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
    ``m * n * k`` samples are drawn.  Default is None, in which case a
    single value is returned.
replace : boolean, optional
    Whether the sample is with or without replacement
p : 1-D array-like, optional
    The probabilities associated with each entry in a.
    If not given the sample assumes a uniform distribution over all
    entries in a.

Returns
-------
samples : single item or ndarray
    The generated random samples

Raises
------
ValueError
    If a is an int and less than zero, if a or p are not 1-dimensional,
    if a is an array-like of size 0, if p is not a vector of
    probabilities, if a and p have different lengths, or if
    replace=False and the sample size is greater than the population
    size

See Also
--------
randint, shuffle, permutation
Generator.choice: which should be used in new code

Examples
--------
Generate a uniform random sample from np.arange(5) of size 3:

>>> np.random.choice(5, 3)
array([0, 3, 4]) # random
>>> #This is equivalent to np.random.randint(0,5,3)

Generate a non-uniform random sample from np.arange(5) of size 3:

>>> np.random.choice(5, 3, p=[0.1, 0, 0.3, 0.6, 0])
array([3, 3, 0]) # random

Generate a uniform random sample from np.arange(5) of size 3 without
replacement:

>>> np.random.choice(5, 3, replace=False)
array([3,1,0]) # random
>>> #This is equivalent to np.random.permutation(np.arange(5))[:3]

Generate a non-uniform random sample from np.arange(5) of size
3 without replacement:

>>> np.random.choice(5, 3, replace=False, p=[0.1, 0, 0.3, 0.6, 0])
array([2, 3, 0]) # random

Any of the above can be repeated with an arbitrary array-like
instead of just integers. For instance:

>>> aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
>>> np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])
array(['pooh', 'pooh', 'pooh', 'Christopher', 'piglet'], # random
      dtype='<U11')
Type:      builtin_function_or_method